# Python caches
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
finagent/


# Environment variables
.env

# VSCode settings
.vscode/

# ChromaDB
chroma_db/.DS_Store
.DS_Store
chroma_db/**/*.bin
.DS_Store
